extends layout

block mainContent

  div(class="small-column fill")
    ul(class="tweet-list")
      each tweet in tweets
        li(class="clearfix")
          div
            img(src="#{tweet.profile_image_url}")
            h4
              a(href="https://twitter.com/#{tweet.from_user}") @#{tweet.from_user}

            !{tweet.text_as_html}
            time
              !{tweet.pretty_date}

  div(class="large-column fill")
    div(id="map_canvas")

