extends layout

block mainContent

  div(class="span3 fill")
    ul(class="tweet-list")
      each tweet in tweets
        li(class="clearfix")
          div
            img(src="#{tweet.profile_image_url}")
            h4
              a(href="https://twitter.com/#{tweet.from_user}") @#{tweet.from_user}

            !{tweet.text_as_html}
            time
              !{tweet.created_at}

  div(class="span9 fill")
    div(id="map_canvas")

